<% if @cnab_file.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <%= @cnab_file.errors.full_messages.join('<br />').html_safe %>
  </div>
<% end %>

<div class="row mb-3">
  <div class="col-lg-12">
    <%= form_for @cnab_file, multipart: true do |f| %>
      <div class="form-group">
        <%= f.label :file %>
        <%= f.file_field :file, class: "form-control" %>
      </div>

      <%= f.submit %>
    <% end %>
  </div>
</div>
